@import "../node_modules/bootstrap/scss/bootstrap";


.header{
    box-shadow: 0, 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;

    .search-form{
        .btn{
            border-radius: 10px 10px;
        }
    }
}