@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'MyFont'; 
  src: url('../assets/fonts/Graphik-Medium-Trial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


//Couleurs
$primary-color: #0074c7;
$secondary-color: #00497c;
$light-color: #f1f8fc;
$dark-color: #384050;
$danger-color: #cd2c2e;

//Gobal
*{
    font-family: 'Myfont';
}



// Header
.header{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
    color: $dark-color;

    .search-form{
        .btn{
            border-radius: 10px;
        }

        .form-control{
            border-radius: 10px;
        }
    }
    .navbar-toggler{
        background-color: $light-color;
        border : 1px, solid, $dark-color;
        }
   

}





// Footer
.footer{
    background-color: $primary-color;
    color: white;
    padding: 3rem 0;
    margin-top: 3rem;
   
    .nav-link{
        color: white;
        padding: 4px;
        &:hover{
            color: white;
        }
        &:focus{
            color: white;
            font-weight: bold;
            border: 2px solid#f1f8fc;
            border-radius: 10px;
        }
    }

    .legal{
        border-top: 1px solid white;
    }
}


//Page d'Accueil
.homepage{
    p{
        color: $primary-color;
    }

    h2{
        color: $secondary-color;
        margin-bottom: 20px;
    }
  
    h4{
        color: $secondary-color;
        margin-top: 30px;
    }

}

.card-container{
    display: flex;
    justify-content: center;
}



.featured-artisans {
    margin: 3rem;
    border-top: 2px solid $danger-color;
    
    .artisan-card{
        border-radius: 10px;
        border: 3px solid $dark-color;
        width: 275px;
        box-shadow: 10px 10px 10px $dark-color;
        &:hover{
            background-color: $light-color;
        }
        h2{
        margin: 3rem;
        color: $secondary-color;
        }
            .artisan-name{
                color: $secondary-color;
                font-weight: bold;
                border-bottom: 1px solid $danger-color;
            }
            .artisan-specialite{
                color: $primary-color;
                font-weight: bold;
                font-size: larger;
            }
            .location-text{
                font-weight: bold;
                font-size: larger;
            }
            .artisan-location{
            display: flex;
            justify-content: center;

            svg{
            margin-right: 0.6rem;
            position: relative;
            top: 3px;
            }
            .artisan-rating{
                svg{
                    color: $primary-color;
                }
            }
        }
    }
}

.star-rating{
    color: $primary-color;
}
//Page Erreur
.erreur{
    p{
        font-size: x-large;
        color: $dark-color;
        margin-top: 20px;
    }
}